*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
/* Header-Started */
header{
    width: 1320px;
    height: 600px;
    text-align: center;
    
}
.banner{
    background-image: url('../images/Banner\ Image.png');
    width: 90%;
    height: 600px;
    margin: auto;
    border-radius: 16px;
}
.banner-wish{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900; 
}
/* Header-finished */

/* main-section-started */
.new-year-offer{
    text-align: center;
    padding-top: 80px;
}
.new-year-offer-title{
    color: #FF0000;
    font-size: 50px;
    font-weight: 700;
    font-family: Inter;
}
.new-year-offer-head{
    font-size: 13px;
    font-weight: 400;
    color: #FF0000;
    margin: 10px;
}
.new-year-offer-description{
    color: #070211;
    font-size: 28px;
    font-weight: 700;
}
.new-year-offer-img{
    width: 500px;
    height: 300px;
    padding: 40px 0; 
}
.welcome{
    background-image: url(../images/Vectorrr.png);
    background-size: cover;
    width: 90%;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.year-wishing .group-70{
    width: 300px;
    height: 400px;
}
.welcome-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 10px;
}
.welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}
.welcome-btn{
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
}