*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
/* Header-Started */
header{
    width: 1320px;
    height: 600px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}
.banner{
    background-image: url('../images/Banner\ Image.png');
    width: 90%;
    height: 600px;
    margin: auto;
    border-radius: 16px;
}
.banner-wish{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900; 
}
/* Header-finished */

/* main-section-started */
main{
    text-align: center;
}
.new-year-offer{
    padding-top: 80px;
}
.new-year-offer-title{
    color: #FF0000;
    font-size: 50px;
    font-weight: 700;
    font-family: Inter;
}
.new-year-offer-head{
    font-size: 13px;
    font-weight: 400;
    color: #FF0000;
    margin: 10px;
}
.new-year-offer-description{
    color: #070211;
    font-size: 28px;
    font-weight: 700;
}
.new-year-offer-img{
    width: 500px;
    height: 300px;
    padding-top: 20px; 
}
