*{
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}
/* Header-Started */
header{
    margin: 40px 80px;
    
}
.banner{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
     url(../images/Banner\ Image.png) ;
    background-size: contain; 
    width: 100%; 
    height: 70vh;
    background-repeat: no-repeat;
    padding-top: 120px;
    border-radius: 16px;
}
.banner-wish{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 74px;
}
.banner-title{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900; 
}
/* Header-finished */

/* new-year-section-started */
.new-year-offer{
    text-align: center;
    padding-top: 80px;
}
.new-year-offer-title{
    color: #FF0000;
    font-size: 50px;
    font-weight: 700;
    font-family: Inter;
}
.new-year-offer-head{
    font-size: 13px;
    font-weight: 400;
    color: #FF0000;
    margin: 10px;
}
.new-year-offer-description{
    color: #070211;
    font-size: 28px;
    font-weight: 700;
}
.new-year-offer-img{
    max-width: 500px;
    max-height: 300px;
    padding: 40px 0; 
}
/* new-year-section-finished */

/* welcome-section-started */

.welcome{
    background-image: url(../images/Vectorrr.png);
    background-size: cover;
    max-width: 90%;
    max-height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.year-wishing .group-70{
   max-width: 300px;
    max-height: 400px;
}
.welcome-title{
    color: #FFF;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 10px;
}
.welcome-description{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 10px;
}
.welcome-btn{
    color: #FFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 15px;
}

/* welcome-section-finished */

/* hotel-content-started */
.hotel-content{
    max-width: 90%;
    max-height: 400px;
    margin: 60px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 5px;
}
.hotel-title{
    color: #F00;
    text-align: center; 
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 50px;

}
.color{
    color: #070211;
    font-size: 24px;
    font-weight: 600;
    line-height: 56px;
     text-transform: capitalize;
}
.hotel-btn{
    border-radius: 5px;
    background-color: #FF0000;
    border: 0;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding: 8px 16px;
    margin: 0px 526px;
    }
    /* hotel-content-finished */

    /* happy-new-year-section-started */

.offer-section{
    display: flex;
    width: 1140px;
    height: 400px;
    background: #FFF;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}
 .offer .offer-content{
    width: 30%;
    margin: 38px;
}
.offer-heading{
    color: #F00;
    font-size: 15px;
    font-weight: 600;

}
.offer-title{
    color: #070211;
    font-size: 30px;
    font-weight: 900;
    text-transform: capitalize;
    padding: 10px;
} 
.offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}

.box{
    width: 260px;
    height: 260px;
    border: 10px solid red;
    border-radius: 260px;
    padding:0px 10px;
    margin-right: 22px;
}

.img{
    background-image: url('../images/Ellipse\ 1.png');
    height: 240px;
    width: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 9px auto;
    align-items: center;
}

.happy-new-year-offer{
    width: 30%;
}

.happy-new-year-offer-title{
    color: #F00;
    font-size: 40px;
    font-weight: 700;
    margin: 10px;
}
.happy-new-year-offer-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 27px; 
}
/* happy-new-offer-finished */

/* best-gifts-started */
.best-gifts{
      padding: 70px;
   }
   .best-heading{
    color: #F00;
    font-size: 20px;
    font-weight: 500;
   }
   .best-title{
    color: #070211;
    font-size: 43px;
    font-weight: 900;
    padding: 10px 0;
    text-transform: capitalize;
   }
   .best-description{
    color: rgba(7, 2, 17, 0.60);
    font-size: 17px;
    font-weight: 400;
    line-height: 32px; 
    width: 60%;
   }
   .best-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
   }
   
   .best-image img{
    width: 345px;
    padding: 10px 0;
    cursor: pointer;
   }
   .best-image img {
    color:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
   } 
   /* best-gifts-finished */

   /* news-section-started*/
    .news-latter{
    height: 400px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    
  }
  .news-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
  }
  .news-content img{
    width: 100px;
  }
  .news-content h2{
    color: #070211;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-transform: capitalize;
    padding: 20px 0;
  }
  .news-content p{
    padding: 0 200px 20px 200px;
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 19px;
    font-weight: 400;
    line-height: 32px; 
  }
  .news-content .button input{
   background: #fff;
   padding: 11px 20px;
   font-size: 16px;
   border: none;
   border-top-left-radius: 50px;
   border-bottom-left-radius:50px ;
  }
  .news-content .button button{
    margin-left: -10px;
    padding: 10px 20px;
    font-size: 16px;
    background: red;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px ;
  }
  /* news-section-finished */
   


